@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* coodeEditorWindow */
.editor {
  height: 500px;
}

.edit-section section {
  padding-top: 0;
}

/* ***************** */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .App {
  text-align: center;
} */




/* Log files css */

input {
  margin-top: 0.5rem;

}

.log_form,
.signup_form {
  border-radius: 7px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  text-align: center;
  width: 50%;
  margin-top: 10%;
  margin-left: 25%;
  position: relative;
  top: 50px;

}

.signup_form {
  top: 50px !important;
}


.col2 {

  border-left: 1.5px solid #2C3333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-right: 10px;
  margin-left: 10px;

}

/* End log css */



/* Nav file css */
.x {
  color: red;
}

.cc {
  color: white;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
}


.navbar {
  width: 100%;
}


@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    margin-left: 0;
    margin-right: 0;
  }
}

/* @media only screen and (max-width: 600px) {
  .bd {
    margin-top: 73px;
  } 
} */
@media only screen and (min-width: 992px) {
  /* .bd {
  } */
}

.bd {
  /* margin-top: 56.3px; */
  margin-top: 64.3px;
}

.bd_head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-position: center;
  background-size: cover;
  color: white;

  margin: 0 auto;
  text-align: center;



}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  background-position: center;
  background-size: cover;
  color: white;

  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
}


.bd_head {
  background-image: url("front_gif.gif");
}

.bd_head h1 {
  font-size: 3em;
  margin-bottom: 20px;

}

.fgallery {
  height: auto !important;
  background-color: white;
  color: black;
  height: auto;
  padding-bottom: 3%;
}

.fgallery h1 {
  font-size: 3em;
}


.carousel h2 {
  color: black;
  /* background: hsl(188, 100%, 37%, 0.5); */

}


.teams {
  height: auto !important;
  background-color: #DDE8F2;
  color: black;
}



section h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 40px;
}

/* footer css */
footer {
  background-color: black;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
  margin-top: 10px;
}

/* end of Nav css */



/* contact us file css */

.contact_form {
  align-items: center;
  color: black;
  background-color: white;
  border-radius: 10px;
  width: 40%;
  padding: 2%;

}


.contact {
  background-color: #F6F1F1;
  height: auto;
  padding-bottom: 3%;
}

.contact h1 {
  font-size: 45px;
  color: black;
}


/* End of contact form css */

/* Playgroung / Compiler file CSS */
.main {
  display: flex;
  /* height: calc(100vh - 50px); */
  height: 70vh;
  margin: 10px;
}

.edit {
  height: 70vh;
}

.left-container {
  position: relative;
  flex: 60%;
  /* height: calc(100vh - 50px); */
  height: 70vh;

}

.left-container section {
  padding: 0 !important;
}

.right-container {
  flex: 40%;
  /* height: calc(100vh - 50px); */
  height: 70vh;
  display: flex;
  flex-direction: column;
  background-color: #242424;
  border-left: 3px solid #1f65e6;
  padding: 5px;
}

.input-box {
  flex: 50%;
}

.input-box textarea {
  font-size: 16px;
}

.spinner-box {
  flex: 50%;
  background-color: #242424;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-box img {
  width: 200px;
}

.output-box {
  flex: 50%;
  background-color: #242424;
  overflow-y: auto;
  color: white;
  position: relative;
}

.clear-btn {
  position: absolute;
  bottom: 14px;
  right: 18px;
  width: 80px;
  height: 40px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  background-color: #1f65e6;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.output-box pre {
  font-size: 15px;
  white-space: pre-wrap;
}

h3 {
  color: #afec3f;
}

#code-inp {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  resize: none;
  background-color: #242424;
  color: whitesmoke;
  padding: 5px;
}

#code-inp:focus {
  outline: none;
}

.run-btn {
  position: absolute;
  bottom: 10px;
  right: 18px;
  width: 80px;
  height: 40px;
  font-size: 22px;
  font-weight: bold;
  background-color: #afec3f;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.run-btn:active {
  background-color: #6e9427;
}

/* End of compiler css */